/* Theme styling av react-autosuggest*/
.container {
    position: relative;
}
.suggestionsContainerOpen {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    background: white;
    border: 1px solid var(--ax-border-neutral-strong);
    box-shadow: 0 1px 5px var(--ax-neutral-400);
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}
.suggestionsList {
    list-style: none;
    margin: 0;
    padding: 0
}
.suggestion {
    padding: 0.5em;
}
.suggestionHighlighted {
    background-color: var(--ax-border-focus);
    color: white;
}
